html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(../images/background-2019.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

a, a:link, a:visited {
  text-decoration: underline;
}

a,
a:visited {
  color: #88702B;
}

a:hover {
  color: #C3AA5F;
}

h1, h2 {
  color: #fff;
  font-weight: normal;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.page-content {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  max-width: 32rem;
}

.header-container {
  align-items: flex-start;
}

.header {
  color: rgba(255,255,255,.975);
  text-shadow: rgba(255,255,255,.33) 0 0 1rem;
  padding: 0;
  border-radius: 1rem;
  margin-top: 7rem;
  text-align: center;
}

.fa-improliga {
  background-image: url(../images/improliga-logo.png);
  background-size: contain;
  background-position: center bottom;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

footer, footer a {
  display: flex;
  justify-content: center;
  vertical-align: bottom;
}

footer a {
  font-size: 2rem;
  margin: 0 0.5rem;
}

.text-justify {
  text-align: justify;
}
